/*Publication: ArtNews > see http://www.artnews.com/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: "adobe-caslon-pro", Georgia, "Bitstream Charter", serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #fff;
}
body,
input,
textarea {
	color: #000;
	font-size: 14px;
	line-height: 20px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	/*border-bottom: 1px dotted #666;
	cursor: help;*/
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #fff;
	border: 2px solid #d9d9d9;
	padding: 2px;
}
#header input[type="text"] {
	border:none;
	border-bottom: 1px solid #000000;
	font-family: "adobe-caslon-pro", serif;
	font-style:italic;
	font-size: 16px;
	display: inline-block;
	padding-left:0;
}
#content input[type="text"] {
	border: 1px solid #000000;
	font-family: "adobe-caslon-pro", serif;
	font-style:normal;
	font-size: 16px;
	display: inline-block;
}
.search-icon {
	width:15px;
	height: 15px;
	display: inline-block;
}
input[placeholder] {
	color: #83797a;
}

a:link {
	color: #555555;
}
a:visited {
	color: #555555;
}
a:active,
a:hover {
	color: #83797a;
}

.clearfix {
	display:block;
	height:0;
	clear:both;	
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

#header {
	padding-top:20px;
	clear:both;
	position:relative;
}
#site-title {
	display:block;
	width: 475px;
	float:left;
	margin-right: 25px;
}
#site-title a {
	display:block;
	width: 475px;
	height:auto;
	margin-bottom:20px;
	clear:both;
}
#site-title img {
	width: 475px;
	height:auto;
}
.header-col-2,
.header-col-3 {
	float:left;
	width:200px;
}
.header-col-3 {
	float:right;
	position: relative;
	width: 190px;
}
.site-description {
	display: block;
	font-size: 18px;
	width:180px;
	margin:5px 0;
	line-height: 1.2;
}
.header-col-2 .search-icon {
	float: right;
	margin-top:-23px;
	position: relative;
	z-index: 1;
	padding-left: 3px;
	background: #ffffff;
}


/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	/*overflow: hidden;*/
	padding: 0px 0 0 0;
}
#content {
	margin-bottom: 36px;
	
}


.single #content .drop-cap {
	float:left; font-size:95px; 
	line-height:.8; 
	display: block; 
	margin: -5px 10px 0 0;
	font-family:futura-pt, Helvetica Neue, Arial, sans-serif;
}


.single #content .entry-content blockquote {
	background: #eeeeee;
	font-style: italic;
	padding:25px 30px; 
	margin-bottom: 25px;
}
.single #content .entry-content blockquote p:last-child {
	margin:0;
}

.single #content .entry-content .incoming {
	padding:10px 15px !important;	
}
.single #content .entry-content .incoming .hide {
	float:right !important;
	margin-bottom:-25px;
}
.single #content .entry-content .incoming .hide a{
	text-transform:uppercase;
	color:#83797a;
	text-decoration:none;	
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
}
.single #content .entry-content .incoming h3 {
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	text-transform:	uppercase;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
/*.post-wrap {
	position:relative;	
}
.post-wrap img {
	position:absolute;
	top:0;
	right:0;	
}*/
#content .post-wrap {
	
	position:relative;	
	margin-bottom:10px;
	width:700px;
}
#content .post-text-wrapper {
	width:460px;
	float:right;	
}
body.home .post img.tfe, body.archive .post img.tfe, body.search .post img.tfe  {
	position:absolute;
	top:0;
	left:0;
	border:5px solid #e6e6e6;
}
#content .post-wrap img.alignleft {
	border:5px solid #e6e6e6;
	margin:5;
	
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	color:#b8b8b8;
	letter-spacing:.03em;
	font-size:11px;
	padding-bottom:8px;
	margin-bottom:15px;
	float:left;
}

]\
}
.category .page-title {
	display:none;
}
.category.category-web-exclusive .page-title,
.category.category-artnewsletter-archive .page-title {
	display:block;
	text-align:center;
	border-bottom:2px solid #d9d9d9;
	text-transform:uppercase;
	padding-bottom:10px;
}

body.tax-issue .page-title, .search .page-title {
	display:inherit;
}	
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #000;
	font-size: 2em !important;
	font-size:18px \9 !important;
	font-size:2em \0/ !important;
	line-height: 1;
	margin-bottom: 10px;
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	font-weight:400;
	text-transform: uppercase;
	border:none;
}
.page #content .entry-title {
	margin-bottom:15px;
}
.entry-title a:link,
.entry-title a:visited {
	border:none;
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #83797a;
}
.entry-meta {
	color: #777777;
	font-size: 12px;
	font-family:"adobe-caslon-pro", Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 5px 0 0 0;
}
.entry-summary {
	font-size:17px;	
}
#content .entry-summary a .read-more {
	display:block;
	text-transform:uppercase;
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	font-weight:900;
	text-decoration:none !important;
	font-size:9px;
	color:#b5b5b5;
	clear:both;
	border:none !important;
}
#content .entry-summary a:hover .read-more {
	color:#83797a;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
#content .entry-summary a {
	text-decoration:none;	
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 0;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: normal;
	margin: 0 0 22px 0;
	word-spacing: 0;
	font-size: 1em;
	font-family:"futura-pt", sans-serif;
	text-transform: uppercase;
}
.page-link a {
	margin:0 10px;
}

.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
	line-height: 38px;
	text-transform: uppercase;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}

.page-link a:active,
.page-link a:hover {
	color: #83797a;
	
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size:9px;	
	line-height: 18px;
	font-family:"futura-pt", sans-serif;
	font-weight:400;
	text-transform:uppercase;
	margin-bottom:12px;
}
#content .entry-utility.article-tags {
	margin-bottom:25px;	
}
#content .entry-utility.article-tags h3 {
	margin-bottom:5px;	
	font-size: 14px;
	text-align: center;
}
#content .entry-utility.article-tags ul {
	background:#e6e6e6;
	-moz-column-count: 3;
	-moz-column-gap: 15px;
	-webkit-column-count: 3;
	-webkit-column-gap: 15px;
	column-count: 3;
	column-gap: 15px;
	-webkit-column-rule: 1px solid #e6e6e6;
    -moz-column-rule: 1px solid #e6e6e6;
    column-rule: 1px solid #e6e6e6;	
	list-style:none;
	margin:0;
	padding:20px 25px;
	line-height:1.3;
	font-size:12px;
}
#content .entry-utility.article-tags ul li{
	margin-bottom:7px;	
}
.entry-meta a,
.entry-utility a {
	color: #000;
	text-decoration:none;
	border:none \9;
}
.entry-meta a {
	font-weight:bold;
	font-style:italic;
	text-transform:none;
	font-size:12px;	
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #83797a;
}
.author-meta-name, .author-meta-name a {
	border:none;	
}

#content .video-player {
	padding: 0;
}
.cat-links,
.issue-btn {
	display: inline-block;
	margin-top: -30px;
	position: relative;
	top:-33px;
	z-index: 1;
}

.cat-links a,
.issue-btn a   {
	background: #ffffff;
	padding:10px;
	margin:0 10px;
	font-size:12px;
	font-weight: 400;
	display: inline-block;
}
.entry-utility.entry-cats {
	text-align: center;
	margin:1px 0 -33px;
}
.single .entry-utility.entry-cats {
	margin-top:-13px;
}
.cat-rule {
	border-top:1px solid #000000;
	margin:0 0 -30px;
	padding:0;
	height: 0;
	background-color: none;
}
.entry-utility .cat-links a:hover  {
	
}
.entry-utility .issue-btn a,
.entry-utility .cat-links a.cat-web-exclusive {
	padding:10px;	
	font-size:12px;
}
 
.entry-utility .issue-btn a:hover,
.entry-utility .cat-links a.cat-web-exclusive:hover  {
	
}
.excerpt-pull-quote {
	padding:15px 0 5px;
	margin-bottom:10px;
	border-top:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;	
}
#content .excerpt-pull-quote h3 {
	margin:0;	
	font-size:1.5em;
	line-height:1.3;
}
#content .excerpt-pull-quote h3 em {
	font-style:normal;
}
.text-sizer {
	display: block;
	float:right;	
	background: #ffffff;
	margin-bottom:-20px;
	padding:5px;
}

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 44px;
	 border-style: solid;
    border-width: 6px;
   border-color: #ededed;
}
.alignright,
img.alignright {
	display: inline;
	float: left;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #fff;
	border:1px solid #b5b5b5;
	line-height: 1.2;
	margin-bottom: 20px;
	max-width: 688px !important; /* prevent too-wide images from breaking layout */
	padding: 5px;
	text-align: left;
}
.wp-caption img {
	margin:5px;
	max-width:678px;
}
#content .wp-caption p.wp-caption-text, #content .wp-caption p {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif !important;
	color: #555555;
	font-size: 12px;
	padding:5px;
	margin-bottom:0;
}

.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 12px 12px;
	line-height: 1.2;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	font-family: "futura-pt", sans-serif;
	text-transform: uppercase;
}

.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom:1px solid #c7c7c9;
}
.home #nav-above, .single #nav-above, .category #nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
/*#nav-below {
	margin: -18px 0 0 0;
}*/



/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 0 0 0;
	list-style:none;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 0;
	padding: 0;
	list-style:none;
}
#main .widget-area ul ul li {	
	
	
}


#main .widget-area ul ul li a {
	font-size:15px;
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	font-weight:400;
	text-decoration:none;
	color:#000;
	text-transform: uppercase;
	display: block;
	padding:10px 15px;
	border:1px solid #c2c2c2;
	margin:0 0 -1px;
}
#main .widget-area ul ul li a:hover {
	color:#83797a;	
}
#main .widget-area ul.advanced-recent-posts {
	margin-bottom: 50px;
}
#main .widget-area ul.advanced-recent-posts li a {
	border:none;
}
ul.advanced-recent-posts img {
	float:left;
	clear:left;
	margin-right:10px; 
	margin-left:-90px;
}


ul.advanced-recent-posts li {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	min-height:74px;
	clear:both;	
	margin-left:90px;
	margin-bottom:20px !important;
}

.artnewsletter-archive ul.advanced-recent-posts li {
	min-height:auto;
	margin-left:0;
}
.artnewsletter-archive ul.advanced-recent-posts li img {
	display:none;
}
#primary .tptn_posts_daily.tptn_posts_widget .tptn_link,
#primary .tptn_posts_daily.tptn_posts_widget .tptn_link .tptn_link,
#main #primary.widget-area .top-ten-row a,
#main #primary.widget-area .top-ten-row a {
	display: inline-block !important;
	border:none !important;
	float:left !important;
	padding:0 !important;
}
#primary .tptn_after_thumb {
	padding:0;
	display: block;
	float:right;
	width:160px !important;
}
#primary .top-ten-wrapper {
	border:1px solid #c2c2c2;
	display: block;
	clear:both;
}

#primary .top-ten-row {
	border:1px solid #c2c2c2 !important;
	padding:10px 15px !important;
	clear:both !important;
	display: block !important;
	height: 100px;
	margin-bottom: -1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	ul.advanced-recent-posts li {
		min-height:74px;
	}
}


#primary {
}
#secondary {
}
/* Ad Widgets */
#cat-ads-square ul {
	/*display:block;
	height:250px;
	overflow:hidden;	*/	
}
#cat-ads-leader .widget_adrotate_widgets {
	padding:0;
	margin:0;
	background:#535353;
}
#cat-ads-leader {
	text-align:center;
	background:#535353;
	margin:0;
}

#cat-ads-leader li{
	list-style:none;
	margin:0;
	padding:0;
	
}
#cat-ads-leader img, #cat-ads-leader object, #cat-ads-leader embed {
	position:relative;
	margin:10px 0 4px;
}
#cat-ads-leader img {
	width:auto !important;
}
#cat-ads-leader embed {
	z-index:1;	
}
#cat-ads-leader object img, #cat-ads-leader embed img, a img.flash-fallback, #leader-fl-fallback {
	display:none !important;
	display:none \0/!important;
	display:none \9!important;
	z-index:0;	
}
#cat-ads-leader div{
	display: block;
	width:auto;
	margin:0 auto;
	text-align: center;
}
.flash-fallback, #leader-fl-fallback {
	display:none !important;
	display:none \0/!important;
	display:none \9!important;
}
/* iPad [portrait + landscape] */ 
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 

#cat-ads-leader object img, a img.flash-fallback, .flash-fallback, #leader-fl-fallback { 
	display:inherit !important;	
	display:none \0/!important;
	display:none \9!important;
}

} 

/* iPhone [portrait + landscape] */
 @media only screen and (max-device-width: 480px) {
	#cat-ads-leader object img, a img.flash-fallback, .flash-fallback, #leader-fl-fallback { 
		display:inherit !important;	
		display:none \0/!important;
		display:none \9!important;
	}
	
 }
/* Footer widget areas */
#footer-widget-area {
}

/* =TOC
------------------------------------------------------------- */

.toc-left-column {
	width:490px;
	display: block;
	float:left;
	padding-right:15px;
	margin-bottom: 50px
}
.toc-right-column {
	width:490px;
	display: block;
	float:left;
	padding-left:15px;
	margin-bottom: 50px;
}
.toc-wrapper #content img {
	margin-bottom: 20px;
}

.toc-wrapper #content .tocp {
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	float: right;	
}

.toc-wrapper #content hr {
	background-color: #000000;
}
.toc-wrapper #content ul {
	list-style: none;
	padding:0;
	margin:0 0 20px;
}
.toc-wrapper #content ul li {
	margin:0;
	padding:0;
}

.toc-wrapper #content a {
	text-decoration: none;
	color: #000000;
}
.toc-wrapper #content a:active,
.toc-wrapper #content a:hover {
	color: #83797a;
}

.toc-wrapper #content h2 {
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
}

.toc-wrapper #content .wp-caption {
	padding:2% !important;
	max-width: 95.75% !important;
	margin:0 0 20px;
}

.toc-wrapper .wp-caption img {
	max-width: 98%;
	margin-bottom: 0 !important;
}
#content .tos-title-wrapper {
	text-align:center;
}

#content .tos-title-wrapper h1 {
	display: inline-block;
	background-color: #fff;
	margin:0;
	padding:10px 10px 50px;
}
#content .tos-title-wrapper hr {
	background-color: #000000;
	margin-top:30px;
	margin-bottom: -30px;
}

.old-issues-dropdown {
	display: block;
	width: 300px;
	margin:0 auto 50px;
	position: relative;
}
#content .old-issues-dropdown .widget-title {
	width: 40px;
	position: absolute;
	top:-20px;
	left:120px;
	display: block;
}

#content .old-issues-dropdown select {
	margin:30px 0;
}




/* =Footer
-------------------------------------------------------------- */

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/



/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrapper {min-height: 100%;}

#main {overflow:visible;
	padding-bottom: 110px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -110px; /* negative value of footer height */
	height: 110px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


/*Reg Footer*/

#footer {
	background:#000;
	padding-bottom:10px;
}
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	*margin-top:0;
	overflow: hidden;
	padding: 12px 0 20px;
}
.footernav {
	border-bottom:1px solid #5b5b5b;
	margin-bottom:10px;
	padding-bottom:10px;
	height:20px;
}

.footernav a{
	font-size:11px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.footernav a:hover{
	color:#83797a;
}
.footernav ul {
	margin:0;
	padding:0;
	clear:both;	
	text-align: justify;
    min-width: 1015px;
}
.footernav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.footernav ul li {
    display: inline-block;
}
.footernav ul li{
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	font-weight:400;
	list-style:none;
}

.footernav ul li.home-foot {
	
}
.footernav ul li.about-foot {

}
.footernav ul li.contact-foot {
	
}
.footernav ul li.editor-foot {

}
.footernav ul li.newsletter-foot {
		
}
.footernav ul li.ad-foot {
		
}
.footernav ul li:last-child{
	
}
.terms ul {
	margin:0;
	padding:0;
}
.terms ul li {
	padding:0;
	margin:0 10px 0 0;
	display:inline-block;
	float:left;	
}
#site-info {
	font-size:10px;
	font-family: "futura-pt", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	text-transform: uppercase;
}
#site-info a {
	font-size:9px;
	color: #5b5b5b;
	font-weight:normal;
	text-decoration: none;
}
#site-generator {
	font-family: "futura-pt", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	font-size:10px;
	position: relative;
	text-transform: uppercase;
}
#site-generator a {
	color: #5b5b5b;
	display: inline-block;
	line-height: 16px;
	text-decoration: none;
	float:left;
}
#site-generator a.credit {
	float:right;	
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/*Plugin Overrides*/

.an-news-talks .widget-title {
	text-transform:none;	
}

.adsbygoogle,
.google_image_div,
ins {
	background: transparent !important;
}

/*Books Filter*/

.category-books #access,
.category-reviews-books #access,
.category-archived-reviews #access,
.category-book-roundups #access,
.category-catalogues-raisonnes #access,
.single.books #access {
	margin-bottom: 0;
}
.books-filter {
	display: block;
	height: 50px;
	border-bottom:1px solid #d9d9d9;
	margin-bottom: 30px;
	margin-top:0;
}
.books-filter ul {
	padding:0;
	margin:0;
	list-style: none;
	font-family: "futura-pt", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.books-filter a {
	color:#000;
	display: block;
	height: 50px;
	text-decoration: none;
	width:188px;
	text-align: center;
}
.books-filter a:hover,
.books-filter .current-menu-item a {
	color:#83797a;
	background: url(images/books-filter-arrow.gif) center bottom no-repeat;
}

.books-filter li {
	line-height: 50px;
	display: inline-block;
	
	margin:0;
	padding:0;
}
#content .buy-books-btn {
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	padding:5px 12px;
	background: #e4e4e4;
	border-radius: 4px;
	text-decoration: none;
	color:#000;
	letter-spacing: .01em;
	margin:5px 2px 0;
}
#content .buy-books-btn:hover {
	background: #d7d7d7;
}

.shop-btn {
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif !important;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	display: inline-block;
	padding:5px 12px;
	background: black;
	border-radius: 4px;
	text-decoration: none;
	color:white !important;
	letter-spacing: .01em;
	margin:5px 2px 0;
}
.shop-btn:hover {
	background: gray;
}

#main .pllexislider.overlay ul li .jr-insta-wrap .jr-insta-datacontainer .jr-insta-username a {
	display: inline;
	padding:0;
	border:none;
}
.pllexislider.overlay ul li .jr-insta-wrap {
	display: none;
}



/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

/*pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}
*/

/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}
/*--Plugin Styling--*/
.FA_overall_container {
	margin-bottom:20px;	
}
.random-posts {
	margin-bottom:15px;	
}
.related-title {
	color: #222222;
	font-weight: bold;
	font-family: "futura-pt", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}
#content #igit_rpwt_css  {
	margin-top:20px;	
}
.twtr-widget h3, .twtr-widget h4 {
	clear:none;
	float:left;
}
#igit_rpwt_thumb, #description {
	float:right;	
}
.page-id-4123 #content h2 {
	border-top:1px #c2c2c2 solid;
	font-family: "futura-pt", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	font-weight:400;
	padding:15px 0 0;
	margin-bottom:5px;	
}

.catablog-gallery.catablog-row {
	font-size:9px;
	font-family: "futura-pt", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	margin-bottom:10px !important;
}
.catablog-gallery.catablog-row a{
	text-transform:uppercase;
	text-decoration:none;
}
.catablog-gallery.catablog-row a:hover{
	color:#83797a;
}
.catablog-description {
	display:block !important;	
}
.catablog-gallery.catablog-row .catablog-title {
	display:block;	
}
.catablog-description .cart66_edit_product_link {
	display:none;
}

.catablog-row {
	text-align:center !important;	
}
.Cart66ButtonPrimary, .Cart66ButtonSecondary, #content .Cart66ButtonPrimary, #content .Cart66ButtonSecondary, .Cart66CartButton .purAddToCart {
	background:none !important;
	width:auto !important;	
	border:none !important;
	padding:0 !important;
}
.catablog-navigation-link.catablog-disabled {
	display:none;	
}
.page-template-onecolumn-page-php #Cart66scCartContents {
	display:block;
	float:right;
	margin-top:-40px;
	margin-bottom:40px;	
}
#Cart66scEmptyMessage {
	display:none;	
}
#Cart66WidgetCartEmpty, #cart66cartwidget-4 .widget-title, .Cart66CartWidget + #Cart66WidgetCartEmpty  {
	display:none;	
}
.widget-container + #Cart66WidgetCartEmpty {
	display:none;
}
.home-slider-wrapper {
	-webkit-box-shadow: 0px 0px 3px 0px #000000;
	-moz-box-shadow: 0px 0px 3px 0px #000000;
	box-shadow: 0px 0px 3px 0px #000000; 
	margin-bottom:40px;
}
.sd-node-title-box .slide-title.accent-color a.accent-color {
	color:#ffffff !important;
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif !important;
	line-height: 1.1 !important;
	margin-bottom:10px !important;
	padding-bottom:15px !important;
	text-transform: uppercase;
	font-weight: 400;
}
.sd-node-title-box .slide-text {
	margin-top:10px !important;
	padding-bottom:15px !important;
}
.sd-node-title-box .slide-text .readmore.accent-color {
	color:#ffffff !important;
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif !important;
	display: block !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
	font-size: 11px !important;
	margin-top:5px !important;
	display:none !important;
}
.home .slidedeck-frame a.deck-navigation.horizontal {  
  top:25px !important;
  bottom:inherit; !important;
}
.home .default-nav-styles.sd2-medium a.deck-navigation.horizontal.next {
	right: 0 !important;
}
.home .default-nav-styles a.deck-navigation.horizontal.prev {
	left: inherit !important;
	right: 55px !important;
}
.lens-tool-kit.sd2-title-dark .sd-node-title-box {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.lens-tool-kit.sd2-title-pos-left .sd-node-title-box {
  top: auto !important;
  padding-bottom:20px !important;
}


.widget_newsletterwidget {
	font-size:15px;
}
.widget_newsletterwidget em {
	font-family:"adobe-caslon-pro", Georgia, "Times New Roman", Times, serif !important;
	font-weight: bold;
	font-style: italic;
	text-transform: none;
}
.widget_newsletterwidget .widget-title {
	
}
.widget_newsletterwidget .signup-text {
	
}
.widget_newsletterwidget  input[type="text"], .widget_newsletterwidget  textarea {
	

}
.widget_newsletterwidget a {
	font-family: "futura-pt", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	background: #000000;
	color:#ffffff;
	font-size:14px;
	border-radius: 4px;
	border:none;
	padding:5px 10px;
	text-decoration: none !important;
	display: inline-block;
}
.widget_newsletterwidget a:hover {
	background: #83797a;
}



#tweets, #fb-lk-bx {
	border:1px solid #c2c2c2;
	padding:10px 15px;
	margin-bottom:30px;
}
#fb-lk-bx {
	padding:0;	
}
.twtr-widget h3, .twtr-widget h4, .twtr-widget p {
	font-family:"adobe-caslon-pro", Georgia, "Times New Roman", Times, serif !important;
	text-align:center !important;
	font-style:italic;
	font-size:14px;	
}
#tweets .twtr-hd, #tweets .twtr-ft {
	display:none;	
}
.twtr-widget .twtr-tweet {
	border:none !important;
}
#tweets h1.tweet-head a {
	display:block;
	width:264px;
	height:28px;
	text-indent:-99999px;
	background:url(images/artnews-on-twitter.gif);	
	margin:10px 0;
}
#tweets h3.follow-twitter a {
	display:block;
	color:#000;
	border-top:1px solid #d9d9d9;
	padding-top:8px;
	margin-top:10px;
	text-align:center;
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	font-weight:400;
	font-size:11px;
	text-transform:uppercase	
}
#main #tweets h3.follow-twitter a:hover {
	color:#83797a;
	text-decoration:none;
}
#igit_rpwt_css h4 {
	font-family:"futura-pt", sans-serif !important;;
	font-weight:400;
	font-size:13px;
	color: #000;
	text-transform:uppercase;
	border-bottom: 1px solid #000000;
	padding-bottom:5px;
	margin-bottom:10px;	
	text-align: center;
}
ul.igit_thumb_ul_list li#igit_rpwt_li{
	display:block;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
	float:left;
	width:300px;
	height:75px !important;
	margin-bottom:20px;
	border-bottom:1px solid #000000 !important;
	padding:0 !important;	
	line-height:1.1;
}
ul.igit_thumb_ul_list li#igit_rpwt_li:nth-child(1), ul.igit_thumb_ul_list li#igit_rpwt_li:nth-child(3) {
	margin-right:25px;
}
#igit_rpwt_main_image {
	padding:0 !important;
	width:75px !important;
	height:75px !important;
	margin-bottom:-5px !important;
	padding-right:10px !important;
	background:#fff;
}
#igit_rpwt_main_image img {
	-webkit-box-shadow: 0px 0px 3px 0px #000000;
	-moz-box-shadow: 0px 0px 3px 0px #000000;
	box-shadow: 0px 0px 3px 0px #000000;
}

#igit_title a {
	font-family:"futura-pt", sans-serif !important;
	font-size:13px !important;
	font-weight: 400;
	text-transform:uppercase;
	text-decoration:none;
}
#igit_title a:hover {
	color:#83797a;
}

li#text-10 select {
	width:100%;	
}
#top-widgets .widget_sp_image h2 {
	display:none;
}
#header .widget_sp_image {
	display: block;
	position: absolute;
	left:0;
	top:-5px;
}
#header .widget_sp_image img{
	height:92px;
	width:auto;
	-webkit-box-shadow: 2px 2px 2px 0 #777777;
	box-shadow: 2px 2px 2px 0 #777777;
	/*border:1px solid #a9a9a9;*/
}
.widget_sswidget h3.widget-title {
		
}
/*Jetpack Popular Posts*/
.widgets-list-layout-links {
	width:250px !important;
}

.jp-carousel-image-meta {
	display: none;
}

.wp-caption-text.gallery-caption {
	display: none;
}

.gallery .gallery-item {
	margin-bottom: 10px;
}

/*--Recent Posts Widget--*/
.archive .widget_advancedrecentposts {
	display: none;
}


/*--Event Widget--*/
.event-item {
	border-bottom:1px dotted #ccc;
	padding-bottom:8px;	
}

.event-item h3 {
	font-family:"futura-pt",  "Arial Black", Gadget, sans-serif;
}
.event-item .description {
	font-family: "futura-pt", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	line-height:1.3;
	color:#000;
	text-transform:none;
	margin:5px 0;
}
.event-item .event-time, .event-item div {
	text-transform:uppercase;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;	
}
.event-item .info-link a.url {
	color:#83797a !important;
	text-decoration:none;
	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	text-transform:uppercase;	
	margin-top:5px;	
}
.event-item .info-link a.url:hover {
	border-bottom:1px solid #83797a;
}

/*Sumo*/

.sumome-scrollbox-popup {

	font-family:"futura-pt", "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;

}
/*Popup*/

.wdpu-container .btn {
	font-family: "futura-pt", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	background: #000000;
	color:#ffffff !important;
	font-size:14px;
	border-radius: 4px;
	border:none;
	padding:5px 10px;
	text-decoration: none !important;
	display: inline-block;
}
.wdpu-container .btn:hover {
	background: #83797a;
}

@media (max-width: 1100px) {

	.sharethispin {
		display: none;
	}
}

