body {
  color: #fcd116;
  background: red;
  font-family: 'Helvetica', sans-serif;
  font-size: 90%;
}

	
a { //defining the link styles
  color: gray;
  text-decoration: none;
}
  a:visited {
    color: #1a5952;
  }
  a:hover, {
    color: #0599c2;
    text-decoration: underline;
  }
  .threeCol {
  -webkit-column-count: 3; /* Ch, Saf, And, BB  */
     -moz-column-count: 3; /* Fx */
          column-count: 3; /* IE 10, Op 11.1+ */

  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;

  -webkit-column-rule: 2px solid #000000;
     -moz-column-rule: 2px solid #000000;
          column-rule: 2px solid #000000;
}
.rotateHammer {
	width: 955px; 
	margin:15px;
  -webkit-transform: rotate(3deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: rotate(3deg); /* IE 9 */
          transform: rotate(3deg); /* IE 10, Fx 16+, Op 12.1+ */
}