body {
  color: #fcd116; 
  background: red;
  background-image: url("http://i.imgur.com/PAT0gxL.jpg"); 
  font-family: 'Helvetica', sans-serif;
  font-size: 80%;
}

	
a { //defining the link styles
  color: gray;
  text-decoration: none;
}
  a:visited {
    color: #1a5952;
  }
  a:hover, {
    color: #0599c2;
    text-decoration: underline;
  }
  .threeCol {
  -webkit-column-count: 3; /* Ch, Saf, And, BB  */
     -moz-column-count: 3; /* Fx */
          column-count: 3; /* IE 10, Op 11.1+ */

  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;

  -webkit-column-rule: 2px solid #000000;
     -moz-column-rule: 2px solid #000000;
          column-rule: 2px solid #000000;
}
.rotateHammer {
	width: 950px; 
	margin:10px;
  -webkit-transform: rotate(3deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: rotate(3deg); /* IE 9 */
          transform: rotate(3deg); /* IE 10, Fx 16+, Op 12.1+ */
}
.marquee {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 11s linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}